/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
  }
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
ol, ul {
    list-style: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

/* Decorando o cabeçalho da página */

.headerSection{
    height: 18vh;
    background-color: rgb(255, 255, 52);
    text-align: center;
}

.searchBar, .navBar{
    height: 9vh;
}

#searchBar{
    margin-top: 2.5vh;
    width: 15vw;
}

.navBar{
    border: solid black;
    line-height: 7vh;
}

.navOptions{
    margin-left: 5vh;
    vertical-align: middle;
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.navOptions:hover{
    transition-duration: 0.5s;
    padding: 1vh;
    background-color: rgba(106, 73, 73, 0.421);
    border-radius: 0.5vw;
}

/* Decorando o conteúdo (barra de benefícios) */

.content{
    background-color: rgb(221, 221, 221);
    height: 82vh;
    text-align: center;
}

.benefits{
    width: 80vw;
    height: 20vh;
    background-color: white;
    margin-top: 5vh;
    display: inline-block;
    border-radius: 1vw;
}

.firstOffer, .offer{
    width: 18vw;
    height: 20vh;
    text-align: left;
    float: left;
    margin-left: 2vh;
    padding-top: 6vh;
}

.firstOffer{
    border-right: 2px solid black;
}

/* Decorando a página de cadastro */

input, select{
    margin-top: 2vh;
    border-radius: 0.3vw;
}

/* Decorando o conteúdo (produtos) */

img{
    width: 12vw;
    height: 35vh;
}

.products{
    width: 80vw;
    height: 20vh;
    display: inline-block;
}

.product{
    width: 18vw;
    height: 35vh;
    float: left;
    margin-top: 5vh;
    background-color: white;
    margin-left: 2vh;
    border-radius: 1vw;
    overflow: hidden;
}

.product:hover{
    transition-duration: 0.7s;
    cursor: pointer;
    height: 45vh;
}

h5{
    border-top: 2px solid black;
}

